[submodule "src/bat"]
	path = src/bat
	url = https://github.com/sharkdp/bat
[submodule "src/exa"]
	path = src/exa
	url = https://github.com/ogham/exa
[submodule "src/starship"]
	path = src/starship
	url = https://github.com/starship/starship
[submodule "src/fd"]
	path = src/fd
	url = https://github.com/sharkdp/fd
[submodule "src/pastel"]
	path = src/pastel
	url = https://github.com/sharkdp/pastel
[submodule "src/ytop"]
	path = src/ytop
	url = https://github.com/cjbassi/ytop
[submodule "src/broot"]
	path = src/broot
	url = https://github.com/canop/broot
[submodule "src/vivid"]
	path = src/vivid
	url = https://github.com/sharkdp/vivid
[submodule "src/cross"]
	path = src/cross
	url = https://github.com/rust-embedded/cross
[submodule "src/bottom"]
	path = src/bottom
	url = https://github.com/ClementTsang/bottom
[submodule "bin/cb-aarch64"]
	path = bin/cb-aarch64
	url = https://github.com/jeromescuggs/cb-aarch64
[submodule "bin/cb-x86_64"]
	path = bin/cb-x86_64
	url = https://github.com/jeromescuggs/cb-x86_64
[submodule "bin/cb-armv7hf"]
	path = bin/cb-armv7hf
	url = https://github.com/jeromescuggs/cb-armv7hf
